
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-btn-primary:not(:disabled) {
  background: rgb(77, 189, 92) !important;
  border: none !important;
}

a {
  color: rgb(77, 189, 92) !important;
}

.ant-btn:hover:not(.ant-btn-primary:not(:disabled)) {
  color: rgb(77, 189, 92) !important;
}

.ant-input-number:focus,
.ant-input-number:active,
.ant-input-number:hover {
  border-color: rgb(77, 189, 92) !important;
}
